* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: #395D73;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #D8E8F2;	
}

::-webkit-scrollbar-track {
	background-color: #395D73;
}

body {
  background-image: url(https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-family: 'Courgette', cursive;
  text-transform: lowercase;
  font-weight: normal;
  color: #067302;
  text-align: center;
  margin-top: 0.25rem;
  margin-right: 14rem;
  margin-bottom: -1rem;
  position: relative;
}

h3 { 
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  color: #09A603;
  text-align: center;
  margin-bottom: 0.25rem;
  margin-left: 12rem;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	  perspective: 1000px;
}

.front,
.back{
  background-size: cover;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #F3E9E6;
	font-size: 1.5rem;
}

.back{
  background: #395D73;
}

.back p {
  text-transform: lowercase;
  font-size: 0.75rem;
}

.front:after{
	position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .75;
  background-color: #525252;
  -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

p.food-title {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Courgette', cursive;
}

.front .inner p{
  font-size: 1.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 10rem;
  height: 2px;
  position: relative;
  background: #09A603;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 1rem;
}

.front .inner span{
  color: #D8E8F2;
  font-weight: 300;
}

footer {
  background-color: #067302;
  text-transform: lowercase;
  text-align: center;
  font-style: italic;
  color: #D8E8F2;
  margin-top: 10px;
  padding: 10px;
}

@media screen and (max-width: 768px){
  h1 {
    font-size: 2.75rem;
    margin-right: 10rem;
  }

  h3 {
    font-size: 1.25rem;
    margin-left: 8rem;
  }

  .front .inner p {
    font-size: 1rem;
  }

  .front .inner p:after {
    width: 5rem;
  }

  .front .inner span {
    font-size: 1rem;
  }

  footer {
    font-size: 1rem;
  }
}

@media screen and (max-width: 414px){
  h1 {
    font-size: 2rem;
    margin: 0 auto;
  }

  h3 {
    font-size: 1.25rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }

  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

@media screen and (max-width: 360px){
  h1 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 320px){
  h1 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }
}